<div id="header" class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <div>
        <span class="navbar-brand logo" target="_blank" href="http://meetell.net/">Meetell</span>
      </div>
      <ul class="nav pull-right" ng-show="isLoggedIn">
        <li class="dropdown">
          <a class="dropdown-toggle">
            <img class="user-icon" ng-src="{{ loginUser.iconUrl }}">
            {{ loginUser.username }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="logout()">
                <i class="fa fa-sign-out"></i>
                Sign Out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>