<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/vendor/angular/angular-csp.css">
<link rel="stylesheet" href="css/popup.css">
<script type="text/javascript" src="assets/vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="assets/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="assets/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="js/options-main.js"></script>
</head>
<body ng-app="app.options" ng-csp>
  <div id="login" ng-controller="LoginController">
    <div class="alert alert-info" ng-show="isLoading">Loading...</div>
    <h2>Options</h2>
    Access Token: {{ accessToken }}
    <div ng-show="!isLoggedIn">
      <button class="btn btn-primary" ng-click="login(true)">Login</button>
    </div>
    <div ng-show="isLoggedIn">
      <button class="btn btn-warning" ng-click="logout()">Logout</button>
    </div>
  </div>
</body>
</html>
